@section Title{
    <title>Modifier Apostille</title>
}
    @model Application_visa.Models.aposstille


    <div class="col-12">
        <h2 class="mb-2">Apostille</h2>
        <p>Modifier une Aposstillation</p>
        <span style="color:red">@ViewData["erorPrix"]</span>
        <form method="post" action="#" enctype="multipart/form-data">
            <div class="row justify-content-center col-12">

                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="mb-0">Nom</label>
                        <input class="form-control" type="text" asp-for="nom" placeholder=" " readonly>
                        <span asp-validation-for="nom"></span>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="mb-0">Prenom</label>
                        <input class="form-control" type="text" asp-for="prenom" placeholder=" " readonly>
                        <span asp-validation-for="prenom"></span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center col-12">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="mb-0">Telephome</label>
                        <input class="form-control" type="text" asp-for="tele" placeholder=" " readonly>
                        <span asp-validation-for="tele"></span>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="mb-0">CIN</label>
                        <input class="form-control" type="text" asp-for="cin" placeholder=" "readonly>
                        <span asp-validation-for="cin"></span>

                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
            @if (Model.scan == "")
            {
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="mb-0">Document</label>
                        <input class="form-control" type="file" asp-for="file" placeholder=" ">
                        <span asp-validation-for="file"></span>

                    </div>
                </div>
            }
            else{
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="mb-0">Document</label>
                        <a class="form-control" href ="~/scans/@Model.scan">scan de document</a>
                        <input class="form-control" type="hidden" asp-for="scan" placeholder=" " readonly>
                        <span asp-validation-for="file"></span>
                    </div>
                </div>
            }
            @if(Model.ami_khaled == false){
            @if (Model.prix >= Model.charge && Model.prix<Model.total)
            {
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="mb-0">Prix</label>
                        <input class="form-control" type="number" asp-for="prix" placeholder=" " >
                        <span asp-validation-for="prix"></span>

                    </div>
                </div>
            }
            else{
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="mb-0">Prix</label>
                        <input class="form-control" type="number" asp-for="prix" placeholder=" " readonly>
                        <span asp-validation-for="prix"></span>

                    </div>
                </div>
            }
            }
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="mb-0">Charge</label>
                        <input class="form-control" type="number" asp-for="charge" placeholder=" " readonly>
                        <span asp-validation-for="charge"></span>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="mb-0">Total</label>
                        <input class="form-control" type="number" asp-for="total" placeholder=" " readonly>
                        <span asp-validation-for="total"></span>

                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="mb-0">Destination</label>
                        <input class="form-control" type="text" asp-for="destination" placeholder=" " readonly>

                        <span asp-validation-for="destination"></span>

                    </div>
                </div>
                <div class="col-lg-6">
                    <button type="submit" class="btn btn-primary btn-lg">Modifer</button>
                </div>
            </div>

        </form>
    </div>

