@section Title{
    <title>ajouter utilisateur</title>
}
<div class="col-12 d-flex justify-content-center">
        <h3 class="text-success">@ViewBag.succes </h3>
    </div>
    <div class="col-12">
        <form method="post">
            <div class="row justify-content-center col-12">

                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="mb-0" > Ancien Mot De Passe</label>
                        <input class="form-control" type="password" name="old" placeholder="">
                        <span class="text-warning">@ViewBag.old</span>
                    </div>
                </div>

                
            </div>
            <div class="row justify-content-center col-12">

                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="mb-0"> Nouveau Mot De Passe</label>
                        <input class="form-control" type="password" name="newP" placeholder="">
                        <span class="text-warning">@ViewBag.confirm</span>
                    </div>
                </div>


            </div>
            <div class="row justify-content-center col-12">

                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="mb-0"> Confirmation</label>
                        <input class="form-control" type="password" name="Cp" placeholder="">
                    </div>
                </div>


            </div>
          



            <div class="row justify-content-center col-12">
            <div class="col-lg-4">
                <button type="submit" class="btn btn-primary btn-lg">Modifier</button>
            </div>
        </div>
    </form>
</div>
